.coloreado {
    background-color: red;
    /* display: block; */
}

.con-tamano { /* Tamaño explícito */
    width: 300px;
    height: 80px;
}

.con-tamano-implicito {
    width: min-content;
    height: min-content;
}

.con-borde {
    border: solid 20px black ;
    /* border-width: 20px;
    border-color: black;
    border-style: solid; */
    font-size: 0.8em;
}

.con-padding {
    padding: 20px;
    font-size: 0.8em;
}

.extra-margen {
    margin: 20px;
    font-size: 0.8em;
}

.contenedor {
    background-color: blue;
    width: min-content;
    height: min-content;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

.con-tamano-s {
    width: 200px;
    height: 160px;
}

.con-outline {
    outline: 10px solid green;
}

.con-shadow {
    box-shadow: 15px 15px 12px yellow;
}

#ilustracion{
    width: min-content;
    padding: 20px;
    border: 4px dashed black;
    background-color: aqua;
    position: relative;
    margin-bottom: 10px;
}

#ilustracion img{
    width: 500px;
}

.tooltip{
    display: none;
    position: absolute;
    z-index: 99;
    top: 50px;
    left: 100px;
    background-color: pink;
    width: 300px;
    height: 100px;
    font-size: 1em;
}

#ilustracion:hover .tooltip{
    display: block;
}

.content-box{
    box-sizing: content-box;
    content: ;
}

.content-box::after{
    white-space: pre;
    content:"\A(El borde y el padding no se tienen en \A cuenta en el tamaño de la caja";
}

.posicionamiento{
    width: 700px;
    height: 400px;
    background-color: aqua;
    position: relative;
}

.posicionado{
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: white;
    /* display: inline-block; */
    position: static;
}

.posicionado:first-child{
    position: absolute;
    bottom: 0px;
    right: 0;
}

/* .posicionado:first-child{
    position: absolute;
    bottom: 0px;
    right: 0px;
} */

.tooltip2{
    /* display: none; */
    visibility: hidden;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: pink;
    width: 90%;
    height: 90%;
    z-index: 0;
}

.posicionamiento:hover .tooltip2{
    /* display: block; */
    visibility: visible;
}
